html {
    color: #111;
    background-color: #acf;
}

body {
    margin: 16px auto;
    max-width: 584px; /* two book pages wide */
    padding: 0 16px;
    font: 16px / 1.5 sans-serif;
}

h1,
h2,
h3 {
    line-height: 1.25;
}

@media print {
    body {
        max-width: none;
    }
}

@font-face { font-family: 'minecraft'; src: url('font/Minecraft-Regular.otf'); }
@font-face { font-family: 'minecraft'; src: url('font/Minecraft-Bold.otf'); font-weight: bold; }

.author-face {
    float: right;
    width: 3em;
    height: 3em;
    margin-left: 1em;
    clear: both;
    overflow: hidden;
}

.book {
    margin: 1em auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.page {
    image-rendering: pixelated;
    background: url("img/page.png") center;
    width: 292px;
    min-width: 292px;
    height: 360px;
    /* content/indicator are positioned absolutely */
    position: relative;
    font: 20px / 0.9em "minecraft";
    color: black;
    margin: 0.5em 0;
}

.page-indicator {
    position: absolute;
    top: 30px;
    right: 36px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
}

.page-content {
    position: absolute;
    top: 61px;
    left: 32px;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 232px;
    /* necessary for line breaking */
}

footer {
    border-top: 2px solid #ccc;
    /* padding-top: 1em; */
    margin-top: 1em;
}

.search-form {
    display: flex;
}

.search-query {
    flex-grow: 1;
}

.search-go {
    flex-grow: 0;
}

.search-result {
    margin: 1em 0;
}

.search-result .title {
    font-size: 1.2em;
    font-weight: bold;
}

.page .fmtl { font-weight: bold; }
.page .fmto { font-style: italic; }
.page .fmtn { text-decoration: underline; }
.page .fmtm { text-decoration-line: line-through; }
.page .fmt4 { color: #be0000; }
.page .fmtc { color: #fe3f3f; }
.page .fmt6 { color: #D9A334; }
.page .fmte { color: #fefe3f; }
.page .fmt2 { color: #00be00; }
.page .fmta { color: #3ffe3f; }
.page .fmtb { color: #3ffefe; }
.page .fmt3 { color: #00bebe; }
.page .fmt1 { color: #0000be; }
.page .fmt9 { color: #3f3ffe; }
.page .fmtd { color: #fe3ffe; }
.page .fmt5 { color: #be00be; }
.page .fmtf { color: #ffffff; }
.page .fmt7 { color: #bebebe; }
.page .fmt8 { color: #3f3f3f; }
.page .fmt0 { color: #000000; }
